<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NOTNETWEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand compact-navbar">
            <div class="container">
                <div class="justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="LandingPage" asp-action="Index">
                                <img src="~/images/HomeIcon.png" alt="Logo" class="navbar-toggler-icon" />
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="LandingPage" asp-action="About">
                                <img src="~/images/AboutIcon.png" alt="Logo" class="navbar-toggler-icon" />
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="LandingPage" asp-action="Portfolio">
                                <img src="~/images/PortfolioIcon.png" alt="Logo" class="navbar-toggler-icon" />
                                Portfolio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Contact">
                                <img src="~/images/ContactIcon.png" alt="Logo" class="navbar-toggler-icon" />
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="main-centered-content">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-muted">
        <div class="container-fluid py-3">
            <div class="row justify-content-center text-center">
                <div class="col-12 mb-2">
                    <a href="https://www.instagram.com/kianoush.sedd/" target="_blank" class="text-decoration-none text-light me-3">
                        <img src="~/images/InstagramIcon.png" alt="Instagram" class="img-fluid rounded-circle" style="max-height: 30px;" />
                    </a>
                    <a href="https://www.youtube.com/@@NotNetAcademy" target="_blank" class="text-decoration-none text-light me-3">
                        <img src="~/images/YouTubeIcon.png" alt="YouTube" class="img-fluid rounded-circle" style="max-height: 30px;" />
                    </a>
                    <a href="https://wa.me/905348740281" target="_blank" class="text-decoration-none text-light me-3">
                        <img src="~/images/WhatsAppIcon.png" alt="WhatsApp" class="img-fluid rounded-circle" style="max-height: 30px;" />
                    </a>
                    <a href="mailto:seddighpour.kianoush@gmail.com?subject=English&body=I%20would%20like%20to%20connect%20with%20you." target="_blank" class="text-decoration-none text-light me-3">
                        <img src="~/images/GmailIcon.png" alt="Gmail" class="img-fluid rounded-circle" style="max-height: 30px;" />
                    </a>

                    <a href="https://github.com/KIANOUSH-SAU" target="_blank" class="text-decoration-none text-light me-3">
                        <img src="~/images/githubIcon.png" alt="Github" class="img-fluid rounded-circle" style="max-height: 30px;" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</body>
</html>