<div class="about-section-grid">
    <div class="card" style="background-color:#002B5B;">
        <div>
            <img class="img-fluid mb-2" src="~/images/AboutPic.png" />
            <h5 class="card-title">KIANOUSH SEDDIGHPOUR</h5>
        </div>
        <h2 style="color:red;">About Me</h2>
        <h5 class="mb-2 text-light"> English Teacher & Lifelong Learner.</h5>
        <p class="fw-normal">
            Hi, I’m Kianoush! Originally from Iran, I’ve been teaching English for the past few years,
            helping learners grow their confidence and fluency.
        </p>
        <p class="fw-bold">Beyond the classroom:</p>
        <ul class="fw-bold">
            <li>Passionate about programming (especially web apps).</li>
            <li>Love outdoor sports like running and hiking.</li>
            <li>Extrovert who thrives on socializing and teaching.</li>
            <li>Trilingual (Persian, English, Turkish).</li>
        </ul>
        <div class="mt-auto">
            <a asp-area="" asp-controller="LandingPage" asp-action="Portfolio" class="CustomeBtn w-75">Check out my portfolio</a>
        </div>
    </div>
</div>
