<div class="main-section-grid">
    <div class="column column-steam">
        <div class="card steam-card" style="background-color:#002B5B;">
            <div>
                <img class="img-fluid mb-2" src="~/images/AboutPic.png" />
                <h5 class="card-title">KIANOUSH SEDDIGHPOUR</h5>
            </div>
            <h2 style="color:red;">About Me</h2>
            <h5 class="mb-2 text-light"> English Teacher & Lifelong Learner.</h5>
            <p class="fw-normal">Hi, I’m Kianoush! Originally from Iran, I’ve been teaching English for the past few years,
                helping learners grow their confidence and fluency.</p>
            <div class="mt-auto">
                <a asp-area="" asp-controller="LandingPage" asp-action="About" class="CustomeBtn w-75">Learn More</a>
            </div>
        </div>
    </div>

    <div class="column column-left">
        <div class="card profile-card">
            <div class="card-body text-start d-flex flex-column">
                <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
                    <h2 class="fw-bold card-title mb-0 fw-normal" style="color: #002B5B;">Check when I'm </h2>
                    <h1 class="fw-bolder mb-0" style="text-decoration:solid; color:red;">AVAILABLE</h1>
                </div>
                <div class="mt-auto">
                    <a href="#" target="_blank" class="CustomeBtn w-75">Check Availability</a> 
                </div>
            </div>
        </div>
        <div class="card languages-card">
            <div class="card-body text-start d-flex flex-column">
                <div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
                    <h1 class="fw-bolder mb-0" style="text-decoration:solid; color:red;">Contact</h1>
                </div>
                <div class="mt-auto">
                    <a asp-area="" asp-controller="Contact" asp-action="Contact" class="CustomeBtn w-75">Send a Message</a>
                </div>
            </div>
        </div>
    </div>
    <div class="column column-center">
        <div class="card projects-card">
            <a href="#" class="text-decoration-none">
                <div class="card shadow-sm h-100" style="background-color: #002B5B;">
                    <div class="card-body text-center d-flex flex-column">
                        <div class="d-flex align-items-center justify-content-center flex-grow-1">
                            <h2 class="card-title text-muted">My blog</h2>
                            <img style="width:50px;" class="img-fluid spinning-gear" src="~/images/gearIcon.png" alt="Logo" />
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="text-decoration-none">
                <div class="card shadow-sm h-100" style="background-color: #002B5B;">
                    <div class="card-body text-center d-flex flex-column">
                        <div class="d-flex align-items-center justify-content-center flex-grow-1">
                            <h2 class="card-title text-muted">Testimonials</h2>
                            <img style="width:50px;" class="img-fluid spinning-gear" src="~/images/gearIcon.png" alt="Logo" />
                        </div>
                    </div>
                </div>
            </a>
           
        </div>
        <a href="https://www.youtube.com/channel/UCNru6zEcL7K4Vv1GUECSwog" class="text-decoration-none" target="_blank">
            <div class="card shadow-sm h-100" style="background-color: #002B5B;">
                <div class="d-flex align-items-center">
                    <!-- Logo -->
                    <img style="width:100px;" class="img-fluid mb-0 me-3" src="~/images/NotNetLogo.png" alt="Logo" />

                    <!-- Text + Arrow stacked column -->
                    <div class="d-flex flex-column justify-content-center align-items-start">
                        <h4 class="card-title text-light text-decoration-none mb-1 fw-bold">ACADEMY'S</h4>
                        <div class="d-flex align-items-center">
                            <h6 class="card-title text-light text-decoration-none mb-0 fw-bold">
                                <span style="color:red;">YouTube</span> Channel
                            </h6>
                            <img class="img-fluid ms-2" style="width:38px;" src="~/images/YTArrow.png" alt="Arrow" />
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
