<div class="portfolio-section-grid">
    <div class="card" style="background-color:#002B5B;">
        <h1 class="text-light fw-bold mb-4">WORK EXPERIENCE</h1>
        <h3 class="mb-4 text-light">IELTS & TOEFL Preparation, A1-C2 English</h3>

        <ul>
            <li class="mb-2 text-light"><i class="bi bi-check-circle-fill text-primary me-2"></i>I have worked with esteemed institutions such as American Culture, TEOL, and English Academy</li>
            <li class="mb-2 text-light"><i class="bi bi-check-circle-fill text-primary me-2"></i>Helped many students achieve their desired IELTS/TOEFL scores</li>
            <li class="mb-2 text-light"><i class="bi bi-check-circle-fill text-primary me-2"></i>Taught students of various English proficiency levels and age groups</li>
            <li class="mb-2 text-light"><i class="bi bi-check-circle-fill text-primary me-2"></i>Assisted countless students in becoming fluent English speakers with a speaking-oriented teaching methodology</li>
            <li class="mb-2 text-light"><i class="bi bi-check-circle-fill text-primary me-2"></i>Prepared worksheets and material for in-class use</li>
            <li class="mb-2 text-light"><i class="bi bi-check-circle-fill text-primary me-2"></i>Designed a creative board game and taboo cards to facilitate learning for younger students</li>
        </ul>

        <div class="d-flex justify-content-end align-items-center">
            <a href="~/Files/CV.pdf" target="_blank" class="ResumeBtn w-25" download>Download My CV</a>
        </div>

    </div>
</div>

<div class="portfolio-section-grid">
    <div class="card">
        <div class="text-center mt-5 pt-0">
            <h2 class="fw-bold" style="color: #ff0000;">MY CERTIFICATES</h2>
        </div>
            <div class="card-body">
            <h4 class="card-title fw-bold" style="color: #ff0000;">IELTS ACADEMIC</h4>
                <h6 class="card-subtitle mb-2 text-muted">ADVANCED-C2 (8.5)</h6>
                <p class="card-text text-muted">As an IELTS tutor, I keep myself up-to-date with the newest question types and exam content.</p>
            </div>
            <div class="card-body">
            <h4 class="card-title fw-bold" style="color: #ff0000;">TESOL</h4>
                <h6 class="card-subtitle mb-2 text-muted">Teacher of English to speakers of other language</h6>
            <p class="card-text text-muted">
                    I obtained one of the most widely recognized teaching certificate to take my career to the next level.
                </p>
            </div>
            <div class="card-body">
            <h4 class="card-title fw-bold" style="color: #ff0000;">Turkish Language Proficiency</h4>
                <h6 class="card-subtitle mb-2 text-muted">
                    C1 level conducted by GAZİ ÜNİVERSİTESİ
                </h6>
                <p class="card-text text-muted">
                    As an expat living in Türkiye, having a grasp on the Turkish language is imperative!
                </p>
        </div>
    </div>
</div>


<div class="portfolio-section-grid swiper-container" >
    <div class="card swiper py-5" style="background-color: #002B5B;">
        <div class="text-center mt-2 pt-0 mb-5">
            <h2 class="text-light fw-bold">SOME OF MY WORK</h2>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/PortalFront.png" alt="Front Image">
                    </div>
                    <div class="flip-card-back">
                        <img src="/images/PortalBack.png" alt="Back Image">
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/TabooFront.png" alt="Front Image">
                    </div>
                    <div class="flip-card-back">
                        <img src="/images/TabooBack.png" alt="Back Image">
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="/images/MysFront.png" alt="Front Image">
                    </div>
                    <div class="flip-card-back">
                        <img src="/images/MysBack.png" alt="Back Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
